<div class="container">
<img src="../../assets/em_construcao1.jpg" alt="página em construção">

  <h3>Página em contrução!</h3>
    <p>Estamos trabalhando na construção dessa página, pedimos desculpas pelo transtorno</p>

<div class="botoes">
  <a class="button fancy-button indisponivel" href="https://www.youtube.com/" target="_blank">
    Youtube
  </a>
  <a class="button fancy-button indisponivel" href="https://www.instagram.com/" target="_blank">
    Instagram
  </a>
  <a class="button fancy-button indisponivel" href="https://www.linkedin.com/" target="_blank">
    Linkedin
  </a>
</div>
</div>
